
<div class="container">
  <h2>Login</h2>
  <form name="form" (ngSubmit)="f.form.valid && registrar()" #f="ngForm" novalidate>

   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !NombreUsuario.valid }">
       <label for="NombreUsuario">Nombre de Usuario</label>
       <input type="text" class="form-control"
	  name="NombreUsuario" [(ngModel)]="model.NombreUsuario" 
	  #NombreUsuario="ngModel" required />
       <div *ngIf="f.submitted && !NombreUsuario.valid" class="help-block">Se requiere nombre  </div>
   </div> 

   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Address.valid }">
     <label for="Address">Direccion :</label>
     <input type="text" class="form-control"
     name="Address" [(ngModel)]="model.Address" 
     #Address="ngModel" required />
     <div *ngIf="f.submitted && !Address.valid" class="help-block">Se requiere una direccion  </div>
 </div> 
 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Contrasenia.valid }">
     <label for="Contrasenia"> Contraseña:</label>
     <input type="password" class="form-control"
     name="Contrasenia" [(ngModel)]="model.Contrasenia" 
     #Contrasenia="ngModel" required />
     <div *ngIf="f.submitted && !Contrasenia.valid" class="help-block">Ingrese su Contrasenia  </div>
 </div> 
 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !DNI.valid }">
     <label for="DNI"> DNI:</label>
     <input type="text" class="form-control"
     name="DNI" [(ngModel)]="model.DNI" 
     #DNI="ngModel" required />
     <div *ngIf="f.submitted && !DNI.valid" class="help-block">Ingrese su DNI   </div>
 </div> 
 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !LastName.valid }">
     <label for="LastName"> Apellidos:</label>
     <input type="text" class="form-control"
     name="LastName" [(ngModel)]="model.LastName" 
     #LastName="ngModel" required />
     <div *ngIf="f.submitted && !LastName.valid" class="help-block">Ingrese su Apellidos   </div>
 </div>
   <div class="form-group">
       <button [disabled]="loading" class="btn btn-primary 
	  btn-success">Registrar Usuario</button>
   </div>
  </form>
</div>
